.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  transition: 0.2s ease;
}

.button--secondary {
  padding: 10px;
  background: none;
  border: 1px solid #cccccc;
  color: #000000;
}

.button--primary {
  background-color: #165996;
  border: none;
  color: #ffffff;
  min-width: 100px;
  padding: 10px 18px;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
